@page "/musei/{Id}"
@code {
    [Parameter]
    public string Id { get; set; } = "";
    private string? larghezzaFinale = "0%";
    private string? larghezzaFinalePost = "0%";

    private Museo? museo;
    private bool showEquity = false;
    private bool showFlexibility = false;
    private bool showUsage = false;
    private bool showInformation = false;
    private bool showTolerance = false;
    private bool showLowEffort = false;
    private bool showSpace = false;

    public enum DataType
    {
        NUMBER = 0,
        PERCENTAGE = 1,
        DUMMY = 999
    }

    protected async override void OnInitialized()
    {
        museo = MuseiData.GetById(Id);
    }

    private void ShowEquity     () => showEquity      = !showEquity;
    private void ShowFlexibility() => showFlexibility = !showFlexibility;
    private void ShowUsage      () => showUsage       = !showUsage;
    private void ShowInformation() => showInformation = !showInformation;
    private void ShowTolerance  () => showTolerance   = !showTolerance;
    private void ShowLowEffort  () => showLowEffort   = !showLowEffort;
    private void ShowSpace      () => showSpace       = !showSpace;

    private string GetColor(int val)
    {
        return val switch
        {
            <= 25 => "barra-rossa",
            <= 50 => "barra-arancio",
            <= 75 => "barra-gialla",
            _ => "barra-verde"
        };
    }

    private string GetColor(int val, DataType data = DataType.DUMMY, int maxNumber = 0)
    {
        if (data == DataType.NUMBER)
        {
            val = (val * 100) / maxNumber;
        }

        return val switch
        {
            <= 25 => "#dc3545",
            <= 50 => "#fd7e14",
            <= 75 => "#ffc107",
            _ => "#28a745"
        };
        // return val switch
        // {
        //     <= 25 => "#EA9999",
        //     <= 50 => "#F9CB9C",
        //     <= 75 => "#F0E68C",
        //     _ => "#D9EAD3"
        // };
    }

    private string GetColor(string val, DataType data = DataType.DUMMY, int maxNumber = 0)
    {
        // In case the value is 5-6
        string[] comp = val.Split('-');
        int decVal = comp.Length > 1 ? Convert.ToInt32(comp[1]) : Convert.ToInt32(comp[0]);

        return GetColor(decVal, data, maxNumber);
    }

    private string GetAnimatedWidth(int val) => $"{val}%";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && museo.Valutazioni != null && museo.Valutazioni.Length > 0)
        {
            // Attiva animazione dopo 100ms
            await Task.Delay(200);
            larghezzaFinale = GetAnimatedWidth(Convert.ToInt32(museo.Valutazioni[0].PunteggioGenerale));
            if (museo.Valutazioni.Length > 1)
            {
                larghezzaFinalePost = GetAnimatedWidth(Convert.ToInt32(museo.Valutazioni[1].PunteggioGenerale));
            }
            StateHasChanged();
        }
    }

}

<div style="display: flex; flex-direction: column; gap: 20px; padding-bottom:80px">

    <NavLink class="btn btn-primary" style="font-size:1.5rem;" href="/">
        TORNA ALLA LISTA
    </NavLink>

@if (museo is null)
{
    <p>Museo non trovato.</p>
}
else
{
    <h2 style="text-align:center;">@museo.Nome</h2>
        <div style="text-align: center;">
            <img src="@museo.ImmagineUrl" alt="@museo.Nome" style="width:50%" />
        </div>

        <p style="text-align:center">@museo.Descrizione</p>

    @if (museo.Valutazioni == null || museo.Valutazioni.Length == 0)
    {
            <p><em>Questo museo non ha ancora una valutazione!</em></p>
        }
        else
        {
         <div style="display: flex; flex-direction: column; gap: 1px;">
                <div style="color:black; font-weight:bolder; width:150px">
                    PUNTEGGIO
                </div>
            <div style="display: flex; gap: 5px; align-items:center">
                    @if (museo.Valutazioni.Length > 1)
                    {
                        <div style="color:black; font-weight:bolder; width:50px">
                            PRE
                        </div>
                    }
               <div class="barra-container">
                   <span class="punteggio">@museo.Valutazioni[0].PunteggioGenerale / 100.0</span>
                        <div class="barra @GetColor((int)museo.Valutazioni[0].PunteggioGenerale)" style="width:@larghezzaFinale"></div>
               </div>
            </div>

               @if(museo.Valutazioni.Length > 1)
               {
                    <div style="display: flex; gap: 5px; align-items:center">
                        <div style="color:black; font-weight:bolder; width:50px">
                            POST
                        </div>
                        <div class="barra-container">
                            <span class="punteggio">@museo.Valutazioni[1].PunteggioGenerale / 100.0</span>
                            <div class="barra @GetColor((int)museo.Valutazioni[1].PunteggioGenerale)" style="width:@larghezzaFinalePost"></div>
                        </div>
                    </div>
               }
         </div>

            <div style="display: flex; flex-direction: column; gap: 1px;">
                @if (museo.Valutazioni.Length > 1)
                {
                    <p style="font-size:0.75rem"><em>Le valutazioni comprendono i valori precedenti agli interventi PNRR (PRE) e i valori successivi (POST)</em></p>
                }
                <p style="font-size:0.75rem"><em>Legenda punteggio qualitativo 0 = ASSENTE; 1 = SCARSO; 2 = SUFFICIENTE; 3 = OTTIMO</em></p>
            </div>

            <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowEquity">
            Equità d'uso
        </button>

        @if (showEquity)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px; width:100%;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                                <th style="text-align: right">PRE</th>
                                <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>

                        <tr>
                            <td>N ingressi accessibili</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].Ningressi, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].Ningressi</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].Ningressi, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].Ningressi</td>
                            }

                        </tr>

                        <tr>
                            <td>Segnaletica in Braille - pittogrammi [%]</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].SegnaleticaBraille, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].SegnaleticaBraille</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].SegnaleticaBraille, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].SegnaleticaBraille</td>
                            }

                        </tr>

                        <tr>
                            <td>Spazi accessibili da tutti [%]</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].PercSpazi, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].PercSpazi</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].PercSpazi, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].PercSpazi</td>
                            }

                        </tr>

                        <tr>
                            <td>Canali digitali/assistenza disponibili</td>
                            <td style="background-color:@GetColor((int)museo.Valutazioni[0].CanaliDig, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].CanaliDig</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((int)museo.Valutazioni[1].CanaliDig, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].CanaliDig</td>
                            }

                        </tr>
                    
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowFlexibility">
            Flessibilità d'uso
        </button>

        @if (showFlexibility)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Superficie spazi dedicati ad altre attività</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].SpaziAtt, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].SpaziAtt</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].SpaziAtt, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].SpaziAtt</td>
                            }

                        </tr>

                        <tr>
                            <td>N lingue supportate in audio e pannelli</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].Nlingue, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].Nlingue</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].Nlingue, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].Nlingue</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowUsage">
            Uso semplice e intuitivo
        </button>

        @if (showUsage)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Presenza mappa</td>

                            <td style="background-color:@GetColor((museo.Valutazioni[0].Mappa ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@(museo.Valutazioni[0].Mappa ? "V" : "X")</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((museo.Valutazioni[1].Mappa ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@(museo.Valutazioni[1].Mappa ? "V" : "X")</td>
                            }

                        </tr>

                        <tr>
                            <td>App fruibile con screen reader/UX semplificata</td>
                            <td style="background-color:@GetColor((museo.Valutazioni[0].AppScreenReader ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold">@(museo.Valutazioni[0].AppScreenReader ? "V" : "X")</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((museo.Valutazioni[1].AppScreenReader ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold">@(museo.Valutazioni[1].AppScreenReader ? "V" : "X")</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowInformation">
            Informazione percettibile
        </button>

        @if (showInformation)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Segnaletica sonora/tattile</td>
                            <td style="background-color:@GetColor((int)museo.Valutazioni[0].SegnaleticaSonora, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].SegnaleticaSonora</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((int)museo.Valutazioni[1].SegnaleticaSonora, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].SegnaleticaSonora</td>
                            }

                        </tr>
                        <tr>
                            <td>Presenza di audiodescrizione/sottotitoli/LIS</td>
                            <td style="background-color:@GetColor((int)museo.Valutazioni[0].Audiodescrizione, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].Audiodescrizione</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((int)museo.Valutazioni[1].Audiodescrizione, DataType.NUMBER, 3); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].Audiodescrizione</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowTolerance">
            Tolleranza agli errori
        </button>

        @if (showTolerance)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>N ore di formazione annuali del personale</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].FormazionePersonale, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].FormazionePersonale</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].FormazionePersonale, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].FormazionePersonale</td>
                            }

                        </tr>
                        <tr>
                            <td>Disponibilità di uscite di emergenza accessibili [%]</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].UsciteEmergenza, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].UsciteEmergenza</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].UsciteEmergenza, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].UsciteEmergenza</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowLowEffort">
            Basso sforzo fisico
        </button>

        @if (showLowEffort)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px;">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Distribuzione delle sedute</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].DistrSedute, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].DistrSedute</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].DistrSedute, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].DistrSedute</td>
                            }

                        </tr>
                        <tr>
                            <td>N di bagni accessibili</td>
                            <td style="background-color:@GetColor(museo.Valutazioni[0].NBagni, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].NBagni</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor(museo.Valutazioni[1].NBagni, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].NBagni</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

        <button class="btn btn-inverse" style="font-size:1.5rem;" @onclick="ShowSpace">
            Misura e spazio adeguato
        </button>

        @if (showSpace)
        {
                <table class="table table-striped" style="border-collapse: separate; border-spacing: 5px 5px">
                <thead>
                    <tr>
                            <th style="text-align: left">INDICATORI</th>

                        @if (museo.Valutazioni.Length == 1)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th style="text-align: right">PRE</th>
                            <th style="text-align: right">POST</th>
                        }
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>Larghezza media percorsi [m]</td>
                            <td style="background-color:@GetColor((int)museo.Valutazioni[0].LarghezzaPercorsi, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[0].LarghezzaPercorsi</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((int)museo.Valutazioni[1].LarghezzaPercorsi, DataType.NUMBER, 5); color:white; text-align: right; vertical-align: middle; font-weight:bold;">@museo.Valutazioni[1].LarghezzaPercorsi</td>
                            }

                        </tr>
                        <tr>
                            <td>Aree visitabili senza ostacoli o con chiara segnalazione [%]</td>
                            <td style="background-color:@GetColor((int)museo.Valutazioni[0].AreeVisitabili, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[0].AreeVisitabili</td>
                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((int)museo.Valutazioni[1].AreeVisitabili, DataType.PERCENTAGE); color:white; text-align: right; vertical-align: middle; font-weight:bold">@museo.Valutazioni[1].AreeVisitabili</td>
                            }

                        </tr>
                        <tr>
                            <td>Piano di emergenza che contempli i diversamente abili</td>
                            <td style="background-color:@GetColor((museo.Valutazioni[0].PianoEmergenza ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold">@(museo.Valutazioni[0].PianoEmergenza ? "V" : "X")</td>

                            @if (museo.Valutazioni.Length > 1)
                            {
                                <td style="background-color:@GetColor((museo.Valutazioni[1].PianoEmergenza ? 1 : 0), DataType.NUMBER, 1); color:white; text-align: right; vertical-align: middle; font-weight:bold">@(museo.Valutazioni[1].PianoEmergenza ? "V" : "X")</td>
                            }

                        </tr>
                </tbody>
            </table>
        }

      
    }
}
</div>
